name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ github.workspace }}/${{ env.GOMOD_PATH }}
          cache: true

      - name: Go fmt (check)
        run: |
          test -z "$(gofmt -l .)"

      - name: Go test
        run: |
          go test ./...

env:
  GOMOD_PATH: "${{ env.GOMOD_PATH }}"
