name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RUN_RACE: 'false'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ github.workspace }}/go.mod
          cache: true

      - name: Go fmt (check)
        run: |
          test -z "$(gofmt -l .)"

      - name: Go vet
        run: |
          go vet ./...

      - name: Go test
        run: |
          if [ "${{ env.RUN_RACE }}" = "true" ]; then
            go test -race ./...
          else
            go test ./...
          fi

# (no global env needed)
